# --- Maven (Сборка) ---
target/
*.jar
*.war
*.ear

# --- IntelliJ IDEA (Настройки редактора) ---
.idea/
*.iml
*.iws
*.ipr

# --- Операционная система ---
.DS_Store
Thumbs.db

# --- Логи ---
*.log

# --- Allure и Тесты (Результаты прогонов) ---
allure-results/
allure-report/
surefire-reports/
test-output/

# --- База Данных (H2) ---
# Игнорируем саму папку с данными, так как база создается при запуске
data/
# Игнорируем файлы базы, если они вдруг вылезли в корень
*.mv.db
*.trace.db